@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #031420;
    color: #000;

    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-weight: 500;
}


h1,
h2,
h3,
h4,
h5,
h6,
.logo-area,
.nav-item,
button,
.price-tag {
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#root {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}