@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap');

:root {
    --bg-body: #f4f6f8;
    --bg-container: #ffffff;
    --text-primary: #333333;
    --text-secondary: #555555;
    --border-color: #e0e0e0;
    --accent-color: #26a69a;
    --header-bg: #ffffff;
    --header-text: #333333;
    --input-bg: #f1f3f5;
    --footer-bg: #1a1a1a;
}


[data-theme='dark'] {
    --bg-body: #020d16;
    --bg-container: #0b1d2a;
    --text-primary: #ffffff;
    --text-secondary: #aaaaaa;
    --border-color: #1c2e3e;
    --accent-color: #26a69a;
    --header-bg: #031420;
    --header-text: #ffffff;
    --input-bg: #0b1d2a;
    --footer-bg: #031420;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-body);
    color: var(--text-primary);
    font-family: 'Rajdhani', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Font tiêu đề */
h1,
h2,
h3,
h4,
h5,
h6,
button,
.logo-icon {
    font-family: 'Chakra Petch', sans-serif;
}